.bg-container {
  background-color: #223a5f;
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  border: 1px solid #f8fafc;
  border-bottom: 1px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 20px;
}
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 10px;
  width: 120px;
  border-radius: 12px;
}
.score-para {
  color: #223a5f;
  font-family: 'Roboto';
  margin-bottom: 0;
}
.score {
  color: #223a5f;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
}
.choice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choice-list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  padding-top: 10px;
}
.item {
  color: #ffffff;
  font-family: 'Bree Serif';
  padding-left: 5px;
  margin-bottom: 2px;
  font-size: 20px;
}
.pops-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.rules-btn {
  background-color: #ffffff;
  color: #223a5f;
  width: 130px;
  height: 30px;
  align-self: flex-end;
  outline: none;
  cursor: pointer;
  border-width: 0;
}
.pop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  padding-bottom: 10px;
  border-radius: 5px;
}
.close-btn {
  align-self: flex-end;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0;
}
.icon {
  width: 30px;
}
.rules-img {
  width: 90%;
  height: 90%;
}
